# Zig build artifacts
.zig-cache/
zig-out/

# GitHub Actions artifacts (local testing)
.github-actions/

# Optional: VS Code settings
.vscode/

# Mac/Linux files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log
.idea
**/generated_models.zig
test/generated.zig
src/version_info.zig
src/openapi2zig.rc
generated/generated.zig
generated/openapi-petstore.zig
generated/swagger-petstore-expanded.zig
generated/swagger-petstore.zig
generated/generated_v2.zig
generated/generated_v3.zig
generated/generated_v31.zig
generated/generated_v32.zig
generated/petstore_v2_unified.zig
generated/petstore_v3_unified.zig
